[submodule "third_party/jsoncons"]
	path = third_party/jsoncons
	url = https://github.com/danielaparker/jsoncons.git
[submodule "third_party/autoconf-archive"]
	path = third_party/autoconf-archive
	url = git://git.sv.gnu.org/autoconf-archive.git
[submodule "third_party/inotify-cpp"]
	path = third_party/inotify-cpp
	url = https://github.com/erikzenker/inotify-cpp.git
[submodule "third_party/fmt"]
	path = third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third_party/simple_logger"]
	path = third_party/simple_logger
	url = https://github.com/Timothy-Liuxf/simple_logger.git
[submodule "third_party/tclap"]
	path = third_party/tclap
	url = git://git.code.sf.net/p/tclap/code
